/******************GENERAL*****************/

body {
	background-color: #000000;
	color: #ff745e;
}

.btn-outline-primary {
	font-size: 0.9rem;
	border-radius: 5px;
	border-color: none;
}



/******************HEADER*****************/

#name {
	font-family: 'Suez One', serif;
	font-size: 1.5rem;
	color: #ff745e;	
}

.page-header {
	/*border-bottom-color: #CCFFFF;*/
	border-bottom: none;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/******************NAV LINKS**************/


ul.nav {
	font-family: 'Suez One', serif;
	font-size: 1.5rem;
}

/*nav li hover*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { 
	color: #CCFFFF;
	background-color: #ff745e;
}

/*nav li NO hover*/
.nav-pills>li>a {
	color: #ff745e;
}

/*MJM banner + contact links*/
a#name:hover {
	text-decoration: none;
	color: #349933;
}

a.nav-link:hover {
	color: #ff745e;
	background-color: #349933;
	border-radius: 5px;
}

li.active {
	color: #CCFFFF;
}

/******************HOME CONTENT*****************/

#welcome {
	font-size: 2.5rem;
	font-family: 'Monoton', cursive;
	padding-bottom: 10px;
	color: #ff745e;
}

#choice a {
	color: #ff745e;
}

.about-me {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 1.65rem;
	color: #ff745e;
}


div.row {
	padding-bottom: 20px;
}

.landing-container {
	height: 100vh;
}

/******************Wish List Tiles*******************/


.list-tile {
	border: 5px solid #ff745e;
	/*margin: 2px 2px 2px 2px;*/

}


/******************Wish List Content*****************/

table {
	border-color: green;
}

tbody tr:hover {
	background-color: #006600;
	font-size: 8.0rem;
	font-weight: bold;
}

.table td {
	text-align: center;
	color: #ff745e;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 1.5rem;
}

.table-header {
	text-align: center;
	font-size: 2.4rem;
	font-family: 'Knewave', cursive;
	color: #ff745e;
}

.submit {
	font-size: 2rem;
	font-family: 'Knewave', cursive;
	color: #ff745e;
	border-radius: 10px;
}

.form-control {
	color: #ff745e;
}

.list-group-item {
	color: #ff745e;
	font-size: 1.4rem;
	border-color: #ff745e;
}

.name-title {
	font-family: 'Bungee Inline', cursive;
	font-size: 5rem;
	color: #ff745e;
}

.well {
	padding: 15px;
}

.lgi-no-border {
	color: #ff745e;
	font-size: 1.4rem;
	border-color: #ff745e;
	border: none;
}


/******************Santa List Content*****************/


.form-group label {
	color: #ff745e;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 1.2rem;
}

/******************CONTACT CONTENT*****************/

.col-md-12.text-center {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 1.2rem;
	font-family: 'Averia Serif Libre', cursive;
	color: #ff745e;
}

a.contact-link {
	color: #5EE9FF;
}

a.contact-link:hover {
	color: #C45EFF;
	text-decoration: none;
}



/******************AVATAR*****************/

.avatar {
	margin-top: 30px;
	margin-bottom: 30px;
}

/******************FOOTER*****************/

div.footer {
	padding-top: 10px;
	color: #ff745e;
	font-size: 0.5rem;
}

a.footer {
	text-decoration: none;
	color: #1a0c09;
}

a:hover {
	text-decoration: none;
	color: #349933;
}


/******************MISC*****************/

pre {
	color: #ff745e;
	font-weight: bold;
	font-size: 1.2rem;
}

/****hidden List cards****/
.hideMe {
	display: none;
}

/****list cards****/
.card, .list-group-item {
	background-color: #000;
	border-radius: 5px;
	border: 2px solid #ff745e;
}

.card-content {
	font-family: 'Averia Serif Libre', cursive;
}

/****down arrrow animation****/
#arrow-down {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
  -webkit-animation-name: arrow-down;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: backwards; /* Safari 4.0 - 8.0 */
  animation-name: arrow-down;
  animation-duration: 4s;  
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrow-down {
  from {top: 0px;}
  to {top: 175px;}
}

@keyframes arrow-down {
  from {top: 0px;}
  to {top: 175px;}
}


/*****text area background*****/

textarea {
    background-color:#000;
    color: #ff745e;
}