/******************GENERAL*****************/

body {
	background-color: #336799;
}


/******************HEADER*****************/

#name {
	font-family: 'Suez One', serif;
	font-size: 1.5em; 
	color: #000033;	
}

.page-header {
	border-bottom-color: #CCFFFF;
}

/******************NAV LINKS**************/

ul.nav {
	font-family: 'Suez One', serif;
	font-size: 1.15em;
}

/*nav li hover*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { 
	color: #CCFFFF;
	background-color: #000033;
}

/*nav li NO hover*/
.nav-pills>li>a {
	color: #000033;
}

/*MJM banner + contact links*/
a#name:hover {
	text-decoration: none;
	color: #CCFFFF;
}

ul li a.nav-link:hover {
	color: #000033;
	background-color: #CCFFFF;
	border-radius: 5px;
}

li.active {
	color: #CCFFFF;
}

/******************HOME CONTENT*****************/

#welcome {
	font-size: 5.5em;
	font-family: "Lobster", sans-serif;
	padding-bottom: 20px;
	color: #000033;
}

#choice {
	font-size: 3em;
	font-family: 'Suez One', serif;
	padding-bottom: 20px;
	color: #000033;
}

#choice a {
	color: #000033;
}

.about-me {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.75em;
	color: #000033;
}


div.row {
	padding-bottom: 20px;
}

/******************Wish List Content*****************/

table {
	border-color: green;
}

tr:hover {
	background-color: yellow;
}

.table td {
	text-align: center;
	color: #000033;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.5em;
}

.table th {
	text-align: center;
	font-size: 2.4em;
	font-family: 'Suez One', serif;
	color: #000033;
}

#choice1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.2em;
}

button[type=submit] {
	font-family: 'Suez One', serif;
	font-size: 1.1em;
}

.form-control {
	color: #000033;
}

.list-group-item {
	color: #000033;
}



/******************CONTACT CONTENT*****************/

.col-md-12.text-center {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 1.2em;
	font-family: 'Merriweather Sans', sans-serif;
	color: #000033;
}

a.contact-link {
	color: #CCFFFF;
}

a.contact-link:hover {
	color: #000033;
	text-decoration: none;
}



/******************AVATAR*****************/

.avatar {
	margin-top: 30px;
	margin-bottom: 30px;
}

/******************FOOTER*****************/

div.footer {
	border-top: 1px solid #CCFFFF;
	padding-top: 9px;
	color: #000033;
}

a.footer {
	text-decoration: none;
	color: #000033;
}

a:hover {
	text-decoration: none;
	color: #CCFFFF;
}


